<!DOCTYPE html>
<html>
<head>
  <title>Motivational Posters</title>
</head>
<body style="background-image: url(/images/trees.png)">
  <h1>Motivational Posters</h1>
  <p>By tonight I'll have a fully-functioning website!</p>
</body>
</html>
