#workspace {
  width: 600px;
  min-height: 300px;
  border: 5px;
  border-style: dashed red;
  margin: 0 auto;
}

#workspace img {
  width: 600px;
}

body {
  background-image: url(/images/trees.png);
}
